<h1>BootCamp 2015</h1>
<h2>Trends Details</h2>


<a href="#" class="btn btn-primary btn-lg">Home</a>
<a href="#trends" class="btn btn-danger btn-lg">Trends</a>
<a href="#search" class="btn btn-info btn-lg">Search</a>



<ul id="timelineList">
  <li ng-repeat="x in timeline | filter:filterFn">
    <div class="tweet" ng-click="go('/tweetdetails', x)" >

    <img id="profileImg" ng-src="{{x.user.profile_image_url}}"  width="40" height="40" >

    <h4 class="text-warning">{{ x.user.name }}</h4>
    <h6>{{ x.text }}</h6>
    
    

    </div>
  </li>
</ul>

